body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 300px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: border 0.3s ease;
}

input[type="text"]:focus {
    border: 1px solid #007BFF;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-coslor 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    background-color: #fff;
    margin-top: 20px;
    display: inline-block;
    color: #333;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    transition: box-shadow 0.3s ease;
}

p:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}