body{
    background-color: lightgrey;
    font-family: Arial, sans-serif;
    font-style: italic;
    margin: 4%;
    padding: 0;
}

label, input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    height: 25px;
    width: 100%;
}

#value{
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
    text-align: center;
    margin: 0;
    padding: 0;
}

input[value="Guardar registro"]{
    background-color: rgb(46, 139, 232);
    color: white;
    padding: 5px;
    height: 35px;
    width: 100%;
}