body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

.formu{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 5px;
    background: lightgray;
}

input[type="text"] {
    width: 94%;
    padding: 0.5em;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

input[type="submit"] {
    padding: 0.5em 1em;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    background-color: salmon;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#parrafo {
    font-size: 1.2em;
    color: #333;
}